annotated-doc==0.0.5
coverage==7.15.4
iniconfig==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.3
pluggy==1.6.0
Pygments==2.20.0
pytest==9.1.1
pytest-cov==7.1.0
rich==15.0.0
shellingham==1.5.4
# Editable install with no version control (smart-file-cleaner==0.1.0)
-e /home/vallkyrion/Projects
typer==0.27.1
